.item-img {

    float: left;
    width: 45%;
    height: 100px;
    background-color: bisque;
    border-radius: 2px;
    background-image: url("../img/traveller/5.jpg");
    background-size: 150%;
    background-repeat: no-repeat;
}

.item-title {
    width: 45%;
    height: 20px;
    float: left;
    padding: 10px;
    font-size: 14px;
}

.label {
    margin-left: 10px;
    margin-top: 40px;
}

.thea:hover {
    color: orange;
}

.img2 {
    background-image: url("../img/deheilan/guide/1.jpg");
}

.img3 {
    background-image: url("../img/deheilan/guide/2.jpg");
}

.img4 {
    background-image: url("../img/deheilan/food/1.png");
    background-size: 105%;
}

.img5 {
    background-image: url("../img/deheilan/food/2.png");
}

.img6 {
    background-image: url("../img/deheilan/hotel/1.png");
}

.img7 {
    background-image: url("../img/deheilan/hotel/2.png");
}

.img8 {
    background-image: url("../img/deheilan/view/1.jpg");
}

.img9 {
    background-image: url("../img/deheilan/view/2.jpg")
}