.head {
    width: 100%;
    height: 300px;
}

.head img {
    width: 100%;
}

.container {
    width: 70%;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.leftside {
    float: left;
    width: 70%;
    height: 1000px;
}

.title {
    padding: 10px;
    width: 100%;
    height: 80px;
    font-size: 35px;
}

.second-title {
    height: 80px;
    width: 100%;
    font-size: 16px;
    line-height: 60px;
    margin-top: -10px;
}

.content {
    width: 100%;
    height: auto;
}

.rightside {
    margin-left: 10px;
    float: left;
    width: 27%;
    height: 1000px;
    background-color: #e9e9e9;
    padding: 10px;
}

.right-title {
    font-size: 20px;
    font-weight:bold;
}

.item-list {
    margin-top: 20px;
    width: 93%;
    height: 800px;
}

.item {
    width: 100%;
    height: 100px;
    padding: 10px;
}

.item:hover {
    background-color:#e0e0e0;
}

.item-img {

    float: left;
    width: 45%;
    height: 100px;
    background-color: bisque;
    border-radius: 2px;
    background-image: url("../img/xian/guide/1.jpg");
    background-size: 130%;
    background-repeat: no-repeat;
}

.item-title {
    width: 45%;
    height: 20px;
    float: left;
    padding: 10px;
    font-size: 14px;
}

.label {
    margin-left: 10px;
    margin-top: 40px;
}

.thea:hover {
    color: orange;
}

.img2 {
    background-image: url("../img/xian/guide/2.jpg");
}

.img3 {
    background-image: url("../img/xian/guide/3.jpg");
}

.img4 {
    background-image: url("../img/xian/guide/4.jpg");
}

.img5 {
    background-image: url("../img/xian/food/1.jpg");
}

.img6 {
    background-image: url("../img/xian/food/2.jpg");
}

.img7 {
    background-image: url("../img/xian/food/3.jpg");
}

.img8 {
    background-image: url("../img/xian/food/4.jpg");
}
