.destination {
    background-color: white;
    color: black;
    font-weight: 500;
}

.destination:hover {
    color: black;
}

.history {
    background-color: orange;
    color: white;
    font-weight: bold;
}

.history:hover {
    color: white;
}

.timeline {
    width: 100%;
    height: 780px;
    background-color: lightgray;
    background-image: url("../img/timeline.jpg");
    background-size: 100%;
}

.start {
    float: left;
    margin-top: 410px;
    margin-left: 90px;
}

.end{
    float: left;
    margin-top: 410px;
    margin-left: -20px;
}

.display {
    float: left;
    margin-left: 10%;
    top: 250px;
    width: 80%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}



.xianlogo {
    float: left;
    width: 10%;
    margin-left: 50px;
    margin-top: 90px;
}

.lanzhoulogo {
    float: left;
    width: 10%;
    margin-top: 560px;
    margin-left: -50px;
}

.wululogo {
    float: left;
    width: 4%;
    margin-top: 50px;
    margin-left: 38px;
}

.samalogo {
    width: 14%;
    float: left;
    margin-top: 550px;
    margin-left: -60px;
}

.deheilanlogo {
    width: 15%;
    float: left;
    margin-top: 130px;
    margin-left: -50px;
}

.yisilogo {
    width: 14%;
    float: left;
    margin-top: 550px;
    margin-left: -130px;
}

.moscowlogo {
    width: 13%;
    float: left;
    margin-top: 100px;
    margin-left: -50px;
}

.lutedanlogo {
    width: 12%;
    float: left;
    margin-top: 520px;
    margin-left: -130px;
}

.weinisilogo {
    width: 12%;
    float: left;
    margin-top: 150px;
    margin-left: -40px;
}


.title {
    margin-bottom: 25px;
    color: white;
    font-size: 30px;
}

.left {
    float: left;
    width: 500px;
    height: 300px;
    margin-left: 50px;
    margin-top: 60px;
}

.right {
    float: left;
    width: 500px;
    height: 400px;
    margin-top: 60px;
    margin-left: 60px;
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    vertical-align:middle;  
    padding-right: 10px;
}

.back {
    margin-top: 440px;
    margin-left: 1150px;
}

.eyebrow {
    width: 100%;
    height: 4px;
    float: left;
    background-color: rgba(1,1,1,0.2);
}