.img2 {
    background-image: url("../img/lanzhou/guide/1.jpeg");
}

.img3 {
    background-image: url("../img/lanzhou/guide/2.jpeg");
}

.img4 {
    background-image: url("../img/lanzhou/food/1.jpeg");
}

.img5 {
    background-image: url("../img/lanzhou/food/2.jpeg");
}

.img6 {
    background-image: url("../img/lanzhou/food/3.jpeg");
}

.img7 {
    background-image: url("../img/lanzhou/hotel/1.jpeg");
}

.img8 {
    background-image: url("../img/lanzhou/hotel/2.jpeg");
}

.img9 {
    background-image: url("../img/lanzhou/view/1.jpg");
}

.img10 {
    background-image: url("../img/lanzhou/view/2.jpg");
}