.item-img {

    float: left;
    width: 45%;
    height: 100px;
    background-color: bisque;
    border-radius: 2px;
    background-image: url("../img/samaerhan/guide/1.jpg");
    background-size: 130%;
    background-repeat: no-repeat;
}

.item-title {
    width: 45%;
    height: 20px;
    float: left;
    padding: 10px;
    font-size: 14px;
}

.label {
    margin-left: 10px;
    margin-top: 40px;
}

.thea:hover {
    color: orange;
}

.img2 {
    background-image: url("../img/samaerhan/guide/2.jpg");
}

.img3 {
    background-image: url("../img/samaerhan/food/1.png");
}

.img4 {
    background-image: url("../img/samaerhan/food/2.png");
    background-size: 170%;
}

.img5 {
    background-image: url("../img/samaerhan/hotel/1.jpg");
}

.img6 {
    background-image: url("../img/samaerhan/hotel/2.jpg");
}

.img7 {
    background-image: url("../img/samaerhan/view/1.jpg");
}

.img8 {
    background-image: url("../img/samaerhan/view/2.jpg");
}

.img9 {
    background-image: url("../img/traveller/4.jpg")
}