*{
    margin: 0;
    padding: 0;
}

.shop{
    background-color: orange;
    color: white;
    font-weight: bold;
}

.shop:hover{
    color: white;
}

.destination{
    background-color: white;
    color: black;
    font-weight: 500;
}

.destination:hover{
    color: orange;
}

.container{
    margin-top: 20px;
    width: 70%;
    height:auto;
}

.leftside{
    width: 28%;
    height:1200px;
    float: left;
}

.rightside{
    width: 68%;
    height: 2250px;
    float: left;
    border-left:solid 1.5px;
    border-color: antiquewhite;
}

.xianlogo{
    height:205px;
    width: 175px;
    margin-top: 20px;
    margin-left: 40px;
    padding-top: 10px;
    padding-left: 40px;
    border-radius: 5px;
}

.xianlogo:hover{
    background-color: rgba(0, 0,0, 0.05)
}

.xianlogo img{
    max-height: 200px;
    width:auto;
}

.lanzhoulogo{
    height:170px;
    width: 190px;
    margin-top: 20px;
    margin-left: 40px;
    padding-top: 55px;
    padding-left: 25px;
    border-radius: 5px;
}

.lanzhoulogo:hover{
    background-color: rgba(0, 0,0, 0.05)
}


.lanzhoulogo img{
    max-height: 180px;
    width:auto;
}

.deheilanlogo{
    height:170px;
    width: 205px;
    margin-top: 20px;
    margin-left: 40px;
    padding-top: 55px;
    padding-left: 10px;
    border-radius: 5px;
}

.deheilanlogo img{
    max-height: 190px;
    width:auto;
}

.deheilanlogo:hover{
    background-color: rgba(0, 0,0, 0.05)
}

.samaerhanlogo{
    height:180px;
    width: 205px;
    margin-top: 20px;
    margin-left: 40px;
    padding-top: 45px;
    padding-left:10px;
    border-radius: 5px;
}

.samaerhanlogo img{
    max-width: 195px;
    width:auto;
}

.samaerhanlogo:hover{
    background-color: rgba(0, 0,0, 0.05)
}

.wulumuqilogo{
    height:200px;
    width: 125px;
    margin-top: 20px;
    margin-left: 40px;
    padding-top: 25px;
    padding-left:90px;
    border-radius: 5px;
}

.wulumuqilogo img{
    max-height: 190px;
    width:auto;
}

.wulumuqilogo:hover{
    background-color: rgba(0, 0,0, 0.05)
}

.yisitanlogo{
    height:205px;
    width: 200px;
    margin-top: 20px;
    margin-left: 40px;
    padding-top: 20px;
    padding-left:15px;
    border-radius: 5px;
}

.yisitanlogo img{
    max-height: 195px;
    width:auto;
}

.yisitanlogo:hover{
    background-color: rgba(0, 0,0, 0.05)
}

.mosikelogo{
    height:200px;
    width: 200px;
    margin-top: 20px;
    margin-left: 40px;
    padding-top: 25px;
    padding-left:15px;
    border-radius: 5px;
}

.mosikelogo img{
    max-height: 180px;
    width:auto;
}

.mosikelogo:hover{
    background-color: rgba(0, 0,0, 0.05)
}

.lutedanlogo{
    height:210px;
    width: 170px;
    margin-top: 20px;
    margin-left: 40px;
    padding-top: 15px;
    padding-left:45px;
    border-radius: 5px;
}

.lutedanlogo img{
    max-height: 200px;
    width:auto;
}

.lutedanlogo:hover{
    background-color: rgba(0, 0,0, 0.05)
}

.weinisilogo{
    height:175px;
    width: 195px;
    margin-top: 20px;
    margin-left: 40px;
    padding-top: 50px;
    padding-left:20px;
    border-radius: 5px;
}

.weinisilogo img{
    max-height: 160px;
    width:auto;
}

.weinisilogo:hover{
    background-color: rgba(0, 0,0, 0.05)
}

.goodsdetail{
    margin-left:20px;
    height: 210px;
    width:  650px;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 15px;
}

.goodsdetail:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.item-img{
    margin-left:5px;
    padding: 5px;
    float: left;
    height:200px;
    width:200px;
    
}

.item-img img{
    height: 200px;
    width: 200px;
    border-radius: 5px;
}

.item-text{
    padding-top: 5px;
    height: 200px;
    width: 400px;
    float: left;
    margin-left: 15px;
}

.item-title{
    font-weight:bold;
    font-size: 21px;
    margin-bottom:4px;
    margin-top: 2px;
}

.item-title:hover{
    color: orange;
}


.item-content{
    font-size: 15px;
    margin-top: 15px;
    color:rgba(1,1,1, 0.65);
}

.eyebrow {
    width: 100%;
    height: 4px;
    float: left;
    background-color: rgba(1,1,1,0.2);
}

.head {
    width: 100%;
    height: 130px;
    background-image: url("../img/desert.png");
    background-size: 150%;
}

.visited{
    background-color: rgba(0, 0,0, 0.05);
}



