.item-img {
    background-image: url("../img/Nederland/guide/1.jpg");
}

.img2 {
    background-image: url("../img/Nederland/guide/2.jpg");
}

.img3 {
    background-image: url("../img/Nederland/guide/3.jpg");
}

.img4 {
    background-image: url("../img/Nederland/food/1.jpg");
}

.img5 {
    background-image: url("../img/Nederland/food/2.jpg");
}

.img6 {
    background-image: url("../img/Nederland/hotel/1.jpg");
}

.img7 {
    background-image: url("../img/Nederland/view/1.jpg");
}

.img8 {
    background-image: url("../img/Nederland/view/2.jpg");
}
.img9 {
    background-image: url("../img/travellers/6.jpg");
}