.img2 {
    background-image: url("../img/wulumuqi/guide/1.jpeg");
}

.img3 {
    background-image: url("../img/wulumuqi/guide/2.jpeg");
}

.img4 {
    background-image: url("../img/wulumuqi/food/1.webp");
}

.img5 {
    background-image: url("../img/wulumuqi/food/2.webp");
}

.img6 {
    background-image: url("../img/wulumuqi/food/3.webp");
}

.img7 {
    background-image: url("../img/wulumuqi/hotel/1.jpg");
}

.img8 {
    background-image: url("../img/wulumuqi/hotel/2.jpg");
}

.img9 {
    background-image: url("../img/wulumuqi/view/1.jpg");
}

.img10 {
    background-image: url("../img/wulumuqi/view/2.jpg");
}