.img2 {
    background-image: url("../img/xian/guide/2.jpg");
}

.img3 {
    background-image: url("../img/xian/food/2.jpg");
}

.img4 {
    background-image: url("../img/xian/food/3.jpg");
}

.img5 {
    background-image: url("../img/xian/hotel/1.jpg");
}

.img6 {
    background-image: url("../img/xian/hotel/2.jpg");
}

.img7 {
    background-image: url("../img/xian/view/1.jpeg");
}

.img8 {
    background-image: url("../img/xian/view/2.jpeg");
}

.img9 {
    background-image: url("../img/xian/food/1.jpg");
}